<div class="footer">
  <div class="social">
    <div class="social-container">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
  <div class="blog"></div>
</div>