<div class="navbar navbar-expand-sm navbar-lewagon">
  <%= link_to root_path do %>    
    <i class="fas fa-cocktail"></i>
  <% end %>
  <div class="mr-c">
    <%= link_to root_path do %>
      <h4>Mr Cocktail</h4>
    <%end %>
  </div>
  
 <%= link_to "New Cocktail", new_cocktail_path, class: "btn btn-ghost" %>
</div>

<%#= link_to 'New Cocktail', new_cocktail_path %>