<%= render "components/banner" %>

<div class="container my-5">
  <h2 class="text-center mb-5 our-cocktails">COCKTAILS AND RECIPIES</h2>

    <%# The index is located on app/views/components/_card.html.erb %>
    <%= render "components/card" %>

</div>