<%= render "components/banner" %>

<div class="container my-5">
  <h2 class="text-center mb-5 our-cocktails">Check out our cocktails and recipies</h2>
  
  <div class="cards-area">
  <%# The index is located on app/views/components/_card.html.erb %>
    <%= render "components/card" %>
  </div>

</div>