<%= render "components/banner" %>

<div class="container my-5">
  <h2 class="text-center">Check out our cocktails and recipies</h2>
  
  <div class="cards-area">
    <%= render "components/card" %>
  </div>

</div>