.banner-cocktail {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),image-url("cocktail-3.webp");
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  color: white;
}