.footer {
  width: 99vw;
  height: 300px;
  background-color: rgb(37, 37, 37);
  display: flex;
}

.social {
  width: 45vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container {
  margin-bottom: 40px;
  i {
    color: white;
    font-size: 45px;
    margin-right: 17px;
    &:hover {
      transition-duration: 0.3s;
      transform: scale(1.5);
      color: rgb(255, 255, 125);
    }
  }
}

.blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.blog-text {
  width: 70%;
  color: white;
}