.navbar-lewagon {
  justify-content: space-between;
  background: black;
}

.fas {
  color: white;
  font-size: 30px;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.mr-c {
  color: white;
  h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
  }
}

.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // opacity: 0.6;
  transition: opacity 0.3s ease;

  &:hover {
    color: gray;
      text-decoration: none;
  }
}




